@import url(https://fonts.googleapis.com);

*{ 
    margin: 0;
    padding: 0;
} /* aplica para a pagina toda(reseta as configurações de margin e padding*/

body{
    background-color: black; /*cor do fundo da pagina*/
    height: 100vh; /*altura da tag body na tela(100%)*/
    box-sizing: border-box; /*tag de borda(mantem as "caixas" dentro do coiteiner body)*/
    color: #f6f6f6; /*cor da fonte*/
} /*todo conteudo visual da pagina*/

h1{
    color: #f6f6f6; /*cor da fonte do titulo*/
} /*titulo*/

p{
    color: #f6f6f6; /*cor da fonte do paragrafo*/
} /*paragrafo*/

.destaque_titulo{
    color: #22d4fd; /*cor do destaque do titulo*/
} /*tag strong(denota importancia)*/

.conteiner{
    display: flex; /*ajuste das caixas dentro do main*/
    /*flex-direction: row; /* alinha as caixas em linha*/
    align-items: center; /*organiza no centro*/
    justify-content: space-between; /*define um espaço entre caixas*/
    margin: 10% 15%; /*margem do conteiner 10% - topo e fundo, 15% - direita e esquerda*/ 
} /*main*/

.conteiner_texto{
    display: flex; /*ajuste das caixas dentro do main - h1, p, div*/
    flex-direction: column; /*alinha as caixas em coluna*/
    gap: 20px; /*espaço entre caixas-colunas*/
    width: 50%; /*largura - 50% do main*/
}/*section - coluna a esquerda*/

.conteiner_conteudo_titulo{
    font-size: 36px; /*tamanho da fonte*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*estilo da fonte do texto*/
}/*h1 - coluna a esquerda*/

.conteiner_conteudo_texto{
    font-size: 11pt; /*tamanho da fonte*/
    font-family:Verdana, Geneva, Tahoma, sans-serif; /*estilo da fonte do texto*/

}/*p - coluna a esquerda*/

.conteiner_conteudo_links{
    display: flex; /*ajuste das caixas dentro da div*/
    /*flex-direction: row; /* alinha as caixas em linha*/
    justify-content: space-between; /*define um espaço entre caixas*/
}/*div - coluna a esquerda*/ 

.conteiner_conteudo_links_link{
    background-color: aquamarine; /*cor de fundo*/
    width: 280px; /*tamanho do botão*/
    text-align: center; /*alinha o texto no centro*/
    border-radius: 24px; /*arredonda as bordas*/
    font-size: 15px; /*tamanho da fonte*/
    font-weight: 600; /* peso da fonte*/
    padding: 15px 0; /*preenchimento do botão (espaço entre o texto e borda do botão)*/
    color: black; /*cor da fonte*/
    font-family: "montserrat", sans-serif; /*estilo da fonte do texto*/
    text-decoration: none; /*tira o subinhado do link*/

}/*a - botões da div*/